.news_letter{
    width: 90%;
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px 8%;
    margin-bottom: 100px;
    background:  linear-gradient(180deg, #23a6d2, #e1ffea22 60%);
    gap: 20px;
}

.news_letter h1{
    color: #000000;
    font-size: 45px;
    font-weight: 600;
}

.news_letter p{
    color: #000000;
    font-size: 18px;
}

.news_letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 95%;
    max-width: 650px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.news_letter input{
    flex: 1;
    padding-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.news_letter div button{
    width: 180px;
    height: 60px;
    border-radius: 5px;
    border-color: antiquewhite;
    background: #FF4141;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* ----------- media query--------- */

@media(max-width:1280px){
    .news_letter h1{
        font-size: 35px;
    } 
}

@media(max-width:900px){
    .news_letter h1{
        font-size: 30px;
    }
    .news_letter{
        gap: 10px;
    }
   .news_letter div{
        width: 95%;
        height: 50px;
        margin-top: 10px;
   }
   .news_letter input{
        padding-left: 20px;
    }
    .news_letter div button{
        width: 100px;
        height: 50px;
        border-radius: 25px;
        font-size: 14px;
    }
}
@media(max-width:500px){
    .news_letter{
        padding: 50px 5%;
    }
    .news_letter div{
        width: 100%;
    }
    .news_letter div button{
        font-size: 12px;
    }
}