.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;
    background:  linear-gradient(360deg, #23a6d2, #e1ffea22 60%);
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.footer-logo p{
    color: #383838;
    font-size: 30px;
    font-weight: 700;
}
.footer-logo img{
    width: 50px;
    border-radius: 25px;
}
.footer_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 40px;
    color: #252525;
    font-size: 16px;
}
.footer_links li{
    cursor: pointer;
}
.footer_social_icons{
    display: flex;
    gap: 10px;
}
.footer_icons_container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 25px;
}
.footer_icons_container img{
    width: 25px;
    
    
}
.footer_copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 16px;
   
}
.footer_copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 2px;
    background: #1a1a1a;
}
@media(max-width:800px){
    .footer-links{
        gap: 20px;
        font-size: 14px;
    }
}