.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1280px;
    margin: 100px auto 0;
    padding: 0 5%;
}
.popular h1{
    color: var(--text-primary);
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -0.015em;
}
.popular hr{
    display: none;
}
.popular_item{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
/* ---------- media query------------ */

@media(max-width: 800px){
    .popular h1{
        font-size: 30px;
    }
    .popular{
        margin-top: 60px;
    }
}
